html,                                    // All Margin, Padding: 0
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

p {                                      // All standart font-size   
  font-size: 16px
}

body,                                    // All Background
header,
main {
  background-color: aliceblue;
}