@mixin flex-center-full ($display: flex,
  $justify-content: center,
  $align-items: center,
  $flex-direction: null,
  $flex-wrap: null,
  $gap: null) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  gap: $gap;
}

@mixin MPnone {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin backgroundImage($background, $gradient: null) {
  @if $gradient {
    background: $gradient, $background;
  }

  @else {
    background: $background;
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin standartText {
  font-family: $standart_font;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
}

@mixin boldText {
  font-family: $another_font;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 28px;
}