@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import '_vars';
@import '_mixins';
@import '_comp';

// ========== MAIN PAGE ==========

// ===== БАЗОВЫЕ СТИЛИ =====
* {
  @include MPnone;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

body {
  background-color: black;
}

::selection {
  background-color: $yellow_color;
  color: white;
}

.p--standart {
  font-family: $standart_font;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.p--bold {
  font-family: $standart_font;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  color: black;
}

section {
  margin-bottom: 100px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.container,
.header__container,
.about__container,
.why-us__container {
  max-width: 100vw;
}

// ===== MAIN USED COMPONENTS =====
.section__subtitle {
  font-family: Great Vibes;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: $yellow_color;
}

.section__title {
  font-family: $another_font;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  transition: all 0.3s ease;
}

.section__text {
  font-family: $standart_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.section__title--highlight,
.nav__logo--highlight,
.footer__title--highlight,
.header__title--highlight {
  color: $yellow_color;
}

.btn-container {
  @include flex-center;
}

.btn {
  border: 1px solid $yellow_color;
  border-radius: 25px;
  width: 155px;
  height: 50px;
  padding: 13px;
  margin-top: 56px;
  transition: all 0.1s ease;

  a {
    font-family: $standart_font;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    transition: all 0.1s ease;
  }
}

.button {
  width: 190px;
  height: 60px;
  background-color: $yellow_color;
  @include flex-center;
  font-size: 20px;
  color: aliceblue;
  border: none;
  border-radius: 30px;
  transition: all 0.15s ease;
  cursor: pointer;
}

.button--secondary {
  width: 163px;
  height: 56px;
  font-size: 20px;
  border-radius: 4px;
  margin-left: -10px;
  cursor: pointer;
  border: none;
  background-color: rgb(228, 227, 227);
  color: $yellow_color;
  transition: all 0.3s ease;
}

.button-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: $yellow_color;
  padding-bottom: 8px;
  font-size: 35px;
  width: 60px;
  height: 60px;
  border: 2px solid whitesmoke;
  box-shadow: 0 0 7px wheat;
  border-radius: 100px;
  z-index: 1001;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sq {
  @include flex-center;
  height: 100px;
  width: 102px;
  border: none;
  border-radius: 6px;
  background: $yellow_color;
}


// ===== NAVIGATION =====
.nav {
  @include flex-center-full($flex-direction: row);
  gap: 25%;
  padding: 93px 5%;
  position: relative;

  ul {
    @include flex-center-full($flex-direction: row, $gap: 32px);
  }
}

.nav__list {
  @include flex-center-full($justify-content: flex-start, $gap: 32px);
  position: static;
}

.nav__logo {
  position: absolute;
  left: 50%;
  top: 45px;
  transform: translateX(-50%);
  font-size: 24px;
  font-family: $another_font;
  font-weight: 700;
  z-index: 10;
}

.nav__link {
  font-family: $standart_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.1s ease;
}

.nav__search-container {
  @include flex-center-full($gap: 10px);
}

.nav__form{
  position: relative;

  img{
    position: absolute;
    right: 26px;
    top: 14px;
  }
}

.nav__search {
  background: none;
  width: 310px;
  height: 54px;
  color: $yellow_color;
  border: 1px solid $yellow_color;
  padding: 14px 26px 16px 26px;
  border-radius: 27px;
  margin-left: auto;
  text-shadow: none;
  z-index: 10;
  font-size: 27px;
  transition: all 0.1s ease;
  position: relative;

  &::placeholder {
    font-weight: 400;
    font-style: Regular;
    width: 100%;
    color: whitesmoke;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    transition: all 0.1s ease;
  }

  &::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    @include backgroundImage(url('/assets/icons/Group.png'));
    filter: invert(1) brightness(2);
  }
}

// ===== HEADER =====
.image__background {
  @include backgroundImage(url("/assets/img/header/background_header.jpg"), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)));
  padding-bottom: 106px;
}

.header {
  display: grid;
  position: relative;
}

.header__container {
  height: 100%;
  opacity: 1;
}

.header__info {
  width: 600px;
}


.header__lines {
  width: 30px;
  @include flex-center-full($gap: 19px, $flex-direction: column);

  .header__line {
    height: 158px;
    width: 1px;
  }
}

.header__content {
  @include flex-center-full($flex-direction: row-reverse, $gap: 98px);
}

.header__text {
  padding-left: 50px;
  margin: 100px 0 0 50px;
  @include flex-center-full($gap: 32px);
}

.header__subtitle {
  font-family: Great Vibes;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  color: $yellow_color;
  line-height: 40px;
  letter-spacing: 0%;
}

.header__title {
  font-family: $another_font;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: 0%;
}

.header__description {
  margin: 30px 0 15px 0;
  width: 400px;
}

.header__text-content {
  font-family: $standart_font;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.header-img {
  position: relative;
}

.header__decor--shape {
  width: 800px;
  height: 600px;
  z-index: 1;
  max-width: 100%;
}

// ===== SOCIAL =====
.social {
  @include flex-center-full($flex-direction: column, $gap: 15px);
  width: 20px;
}

// ===== ABOUT SECTION =====
.about {
  max-height: 562px;
  height: 100%;
  background-color: black;
  margin: 120px 0;

  @include flex-center;
}

.about__gap-text {
  @include flex-center-full($flex-direction: column, $align-items: start, $gap: 24px);
  width: 550px;
}

.about__container {
  @include flex-center-full($justify-content: center, $flex-direction: row, $gap: 98px);
  padding-left: 5%;
  width: 100%;
}

.about__item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 25px;

  &:before {
    content: "✔";
    color: $yellow_color;
    position: absolute;
    left: 0;
    font-weight: bold;
  }
}

.about__gallery {
  z-index: 1;
  width: 660px;
  height: 528px;
  @include flex-center-full($flex-direction: column, $gap: 16px);

  img {
    width: 660px;
    height: 330px;
    object-fit: cover
  }

  .about__galery--lower {
    @include flex-center-full($gap: 16px);

    .about__image {
      width: 322px;
      height: 194px;
    }
  }
}

// ===== FOOD CATEGORY SECTION =====
.food-category {
  @include flex-center;
  position: relative;
  padding: 100px 50px;
  background: rgba(0, 0, 0, 0.8);
}

.food-category__container {
  position: relative;
}

.food-category__subtitle {
  margin-bottom: 8px;
}

.food-category__title {
  margin-bottom: 46px;
}

.food-category__gallery {
  @include flex-center-full($flex-wrap: wrap, $gap: 33px);
  max-width: 100%;

  .food-category__image {
    width: 325px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
  }
}

.food-category__img-plant {
  position: absolute;
  top: 250px;
  right: 0;
  transform: scale(-1, 1)
}

@media (max-width: 1274.5px) {
  .food-category__container {
    margin-bottom: 100px;
  }

  .why-us__image {
    display: none;
  }
}

@media (max-width: 680px) {
  .food-category {
    display: none
  }

  .about {
    margin-bottom: -150px;
  }
}

// ===== WHY US SECTION =====
.why-us {
  @include flex-center;
}

.why-us__container {
  display: flex;
  gap: 136px;
  padding: 100px 50px;
}

.why-us__info {
  @include flex-center-full($align-items: start, $flex-direction: column, $gap: 32px);
  width: 555px;
}

.why-us__list {
  display: flex;
  gap: 40px;

  .why-us__item {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;

    span {
      font-size: 18px;
      text-align: center;
    }
  }
}

.why-us__experience {
  background-color: $yellow_color;
  width: 374px;
  height: 92px;
  border-radius: 6px;
}

.why-us__stats {
  background: white;
  border-radius: 6px;
  text-align: center;
  @include flex-center;
  width: 364px;
  height: 100%;
  color: black;
  float: right;

  p {
    position: relative;
    top: -10px;
    font-size: 24px;
    color: black;
    text-align: left;
  }

  .why-us__number {
    font-family: $another_font;
    font-size: 48px;
    font-weight: 700;
    float: left;
    color: $yellow_color;
    margin-right: 30px;
  }


  .why-us__label {
    font-family: $standart_font;
  }

  .why-us__label:last-child {
    font-family: $another_font;
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin-top: -15px;
  }
}

.why-us__experience-label {
  flex-direction: column;
  line-height: 40px;
}

.why-us__image {
  width: 700px;
}

// ===== STATS SECTION =====
.stats {
  margin-top: 75px;
  @include flex-center;
  @include backgroundImage(url('/assets/img/background/img_clients.jpg'), linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)));
  height: 369px;
}

.stats__list {
  text-align: center;
  @include flex-center-full($flex-wrap: wrap, $gap: 162px);
  max-width: 1920px;
  margin: 0 auto;

  .stats__item {
    font-weight: 700;
    font-size: 24px;
    width: 257px;
    @include flex-center-full($justify-content: start, $flex-direction: column, $gap: 24px);

    img {
      width: 120px;
      height: 120px;
    }

    .stats__title {
      font-size: 24px;
      color: #fff;
      font-family: $another_font;
      line-height: 32px;
    }

    .stats__number {
      font-size: 40px;
      font-family: $another_font;
      line-height: 48px;
      letter-spacing: 0%;
      color: #fff
    }
  }
}

@media (max-width: 939.5px) {
  .stats {
    margin-top: 25px;
    background: none;
    height: 542px;
  }
}

@media (max-width: 459.5px) {
  .stats {
    height: 850px;
  }
}

// ===== CHOOSE PICK SECTION =====
.choose-pick__container {
  @include flex-center-full($flex-direction: column);
  text-align: center;

  .choose-pick__li {
    font-family: $standart_font;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
  }
}

.choose-pick__container--lower {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.choose-pick__subtitle {
  margin-bottom: 8px;
}

.choose-pick__title {
  margin-bottom: 56px;
}

.choose-pick__nav ul {
  @include flex-center-full($flex-wrap: wrap, $gap: 100px);
}

.choose-pick__img-container {
  @include flex-center;
  height: 406px;
  width: 556px;
  position: relative;
  overflow: hidden;

  img {
    width: 515px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.choose-pick__list {
  flex: 1;

  .ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // two columns
    gap: 32px;
  }
}

.choose-pick__block-list {
  display: flex;
  gap: 9px;
  text-align: start;

  img {
    width: 80px;
    height: 79px;
    object-fit: cover;
    border-radius: 6px;
    flex-shrink: 0;
  }

  span:first-child {
    font-family: $standart_font;
    font-weight: 900;
    font-style: Bold;
    font-size: 20px;
    line-height: 28px;
  }

  span:last-child {
    font-family: $standart_font;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
  }

  p {
    font-size: 14px;
    line-height: 22px;
  }
}

.block-list__text {
  letter-spacing: 4px;
}


// ===== CHEFS SECTION =====
.chef__container {
  text-align: center;
  position: relative;
}

.chef__img-plant {
  position: absolute;
  top: 175px;
  left: -25px;
}

.chef-container__img-block {
  @include flex-center-full($display: inline-flex, $flex-wrap: wrap, $gap: 24px);
}

.chef__img-card {
  width: 312px;
  height: 391px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.chef-card__block-text {
  position: relative;
  top: -67px;
  background-color: white;
  z-index: 2;
  width: 181px;
  height: 67px;
  letter-spacing: 4px;
  padding: 6px 0 9px 20px;
  text-align: start;

  span {
    font-family: $standart_font;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: black;
  }
}

.chef__subtitle {
  margin-bottom: 8px;
}

.chef__title {
  margin-bottom: 56px;
}

// ===== RECOM SECTION =====
.recom__container {
  @include flex-center-full($align-items: start);
  position: relative;
}

.recom-wrap {
  width: 1273px;
  height: 770px;

  @include flex-center-full($flex-direction: column);
}

.recom__container-block-info {
  width: 100%;
  text-align: start;
}

.recom__subtitle {
  margin-bottom: 8px;
}

.recom__title {
  margin-bottom: 123px;
}

.recom__slide{
  position: relative;
}

.recom__block {
  width: 100%;
  height: 450px;
  background-color: #fff;

  @include flex-center-full($flex-direction: column);
  text-align: center;
  position: relative;

  .recom__photos{
    @include flex-center-full($flex-direction: column, $gap: 44px);
    margin-bottom: 42.5px;
  }

  .recom__photo{
    border-radius: 50%;
    width: 133px;
    position: absolute;
    top: -150px;
  }

  .recom__img-plant {
    position: absolute;
    right: -150px;
    top: 0;
  }

  p {
    color: #000;
    margin-top: 16px;
    margin-bottom: 8px;

    font-family: $another_font;
    font-size: 24px;
    line-height: 32px;
  }

  span {
    font-family: $another_font;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #828282;
  }
}

.recom__block-text {
  width: 695px;
  margin: 16px 0;

  p {
    font-family: $another_font;
    font-size: 18px;
    color: #4F4F4F;
    text-align: center;
  }
}

.recom__stars{
  width: 150px;
}

.recom__block--down{
  margin-bottom: 32px;
}

.swipe-block {
  @include flex-center-full($align-items: start, $gap: 7px);
  margin-top: 56px;
}

.recom-circle {
  width: 16px;
  height: 16px;
  background-color: #ff9e0d30;
  border: none;
  border-radius: 100%;

  &:first-child {
    background-color: #FF9F0D;
  }
}

// ===== PROGRESS SECTION =====
.progress {
  @include backgroundImage(url('/assets/img/background/img_restaurant_progress.jpg'));
}

.progress__block-text {
  width: 726px;
  height: 100%;
}

.progress__container {
  @include flex-center-full($justify-content: end);
  max-width: 1920px;
  width: 99vw;
  height: 558px;
  text-align: end;
}

.progress__subtitle {
  margin-bottom: 8px;
}

.progress__title {
  margin-bottom: 32px;
}

.progress__buttons-container {
  @include flex-center-full($gap: 24px);
  width: 500px;
  float: right;

  img {
    position: relative;
    bottom: -27.5px;
    width: 60px;
    height: 60px;
  }

  span {
    font-family: $standart_font;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    position: relative;
    bottom: -27.5px;
  }
}

.progress__button {
  @include flex-center;
}

.progress__button-text {
  font-size: 20px;
}

// ===== BLOG SECTION =====
.blog__container {
  @include flex-center-full($flex-direction: column);
  text-align: center;
}

.blog__subtitle {
  margin-bottom: 8px;
}

.blog__title {
  margin-bottom: 59px;
}

.blog__cards {
  @include flex-center-full($flex-wrap: wrap, $gap: 26px);
}

.blog__card {
  width: 424px;
  height: 569px;
  border: 1px solid #fff;

  img {
    width: 100%;
    height: 349px;
    object-position: center;
    object-fit: cover;
  }
}

.blog__card-info {
  padding: 30px 43px;
  width: 100%;
  text-align: start;

  p {
    font-family: $another_font;
    font-size: 23px;
    line-height: 32px;
    margin-top: 16px;
    color: white;
  }
}

.blog__card--lower {
  display: flex;
  gap: 176px;
  margin-top: 32px;
}

.blog__icons {
  img {
    width: 20px;
    height: 20px;
  }

  .blog__icons-button{
    cursor: pointer;
    background-color: #000;
  }
}


// ===== FOOTER =====
.footer {
  position: relative;
}

.footer__support {
  margin-top: 75px;
  text-align: left;
  padding: 50px 250px 0 300px;
}

.footer__container {
  @include flex-center-full($gap: 253px);
  padding-bottom: 50px;
  border-bottom: 3px solid $yellow_color;
}

.footer__title {
  font-family: $another_font;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  margin-bottom: 17px;
}

.footer__subtitle {
  font-family: $standart_font;
  font-size: 16px;
  font-weight: 400;
}

.footer__form {
  @include flex-center-full($justify-content: start);
  font-weight: 700;

  input::placeholder {
    color: #fff;
    padding-left: 20px;
  }

  .footer__input {
    background-color: $yellow_color;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    width: 296px;
    height: 56px;
    transition: all 0.3s ease;
  }
}

// ===== FOOTER MAIN =====
.footer__main {
  @include flex-center;
  margin-bottom: -333px;
}

.footer__info-cards {
  @include flex-center-full($align-items: start, $flex-direction: row, $flex-wrap: wrap);
}

.footer-card {
  @include flex-center-full($align-items: start, $flex-direction: column);
  width: 330px;

  &:first-child {
    margin-right: 133px;
  }

  h4 {
    margin-bottom: 24px;
    font-family: $another_font;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fff;
  }

  p {
    margin-bottom: 34px;
  }

  ul {
    @include flex-center-full($align-items: start, $flex-direction: column, $gap: 30px);

    li {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0%;
    }
  }
}

.footer__sq {
  width: 75px;
  height: 75px;
}

.footer-card--bottom {
  @include flex-center-full($gap: 16px);
}

.footer-card__text--bottom {
  @include flex-center-full($align-items: start, $flex-direction: column, $gap: 2px);
  text-align: start;

  h6 {
    font-size: 18px;
    line-height: 26px;
  }

  span {
    font-size: 14px;
    line-height: 22px;
  }
}

.footer-card__block-cards {
  @include flex-center-full($flex-direction: column);
  margin-bottom: 14px;
}

.footer__block-card {
  @include flex-center-full($gap: 16px);

  img {
    width: 56px;
    height: 47px;
    object-fit: cover
  }
}

.footer-block__card-text {
  @include flex-center-full($align-items: start, $flex-direction: column);

  span:first-child {
    color: #4F4F4F;
  }
}

.footer-card__text-time {
  font-size: 14px;
  font-weight: 250;
  line-height: 22px;
}

// ===== FOOTER BOTTOM ===== 
.img__footer {
  position: absolute;
  height: 306px;
  z-index: 30;
  bottom: 0;
  right: 0;
}

.footer__main {
  margin-bottom: 46px;
}

.footer__bottom {
  @include flex-center-full($gap: 696px);
  gap: 696px;
  height: 100px;
  background-color: $yellow_color;
  width: 100%;
}

.footer__copyright {
  font-weight: 400;
  font-family: $standart_font;
}

.footer__social {
  @include flex-center;
  flex-direction: row;
  gap: 14px;
}

.footer-social__container-item {
  background-color: #f2f2f29d;
  @include flex-center;
  width: 36px;
  height: 36px;
  transition: all 0.1s ease;
}

.footer__social-link{
  position: relative;
  z-index: 1001;
}

// ========= SHOP PAGE ==========
.container {
  padding: 120px 31.25%;
}

.S_h3 {
  @include boldText;
  color: #000;
}

// ===== NAVIGATION =====
.S_nav__logo {
  position: static;
  @include MPnone;
}

.S_nav__container {
  @include flex-center;
  justify-content: space-between;
  background-color: #000;
  padding: 29px 300px;
  height: 90px;

  ul {
    @include flex-center;
    gap: 32px;
  }
}

.icon__container {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 24px;
    height: 24px;
  }
}


// ===== HEADER =====
.S__header {
  height: 410px;
  @include backgroundImage(url('/assets/img/background/shop_header_bachground.jpg'));
}

.S_header__block {
  @include flex-center;
  flex-direction: column;
  gap: 20px;
  padding: 108px 44.2%;

  h2 {
    font-family: $another_font;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 56px;
  }
}

.S_block {
  @include flex-center;
  gap: 8px;
}

.S_p {
  font-size: 20px;
}

// ===== ASIDE =====

.S_aside {
  @include flex-center;
  align-items: start;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  padding: 24px 32px;
  float: right;
  margin-right: 300px;
  margin-top: 190px;
  height: 100%;
  width: 312px;
  color: #000;
  border: 1px solid #F2F2F2;
  border-radius: 6px;
}

.S_aside__form {
  @include flex-center;
  z-index: 1001;

  input {
    width: 202px;
    height: 46px;
    border: none;
    color: #000;
    padding-left: 11px;
    font-size: 20px;
    background-color: #FF9F0D1A;
    transition: all 0.1s ease;

    &::placeholder {
      padding: 11px 20px 65px;
      @include standartText;
      color: #828282;
    }
  }

  button {
    width: 46px;
    height: 46px;
    background-color: $yellow_color;
    transition: all 0.1s eas50

    img {
      width: 20px;
    }
  }
}

.S_img_aside{
  width: 248px;
  height: 286px;
}

.filter-category {
  h3 {
    color: #000;
    margin-bottom: 24px
  }

  ul {
    @include flex-center;
    align-items: start;
    flex-direction: column;
    gap: 16px;
  }

  span {
    color: #000;
    margin-left: 8px;
    @include standartText;
    font-family: $another_font;
  }
}

.filter-price {
  h3 {
    margin-bottom: 16px;
    color: #000;
  }

  span {
    color: #4F4F4F;
    margin-bottom: 8px;
  }
}

.filter-price__text {
  span {
    color: #4F4F4F;
  }

  span:first-child {
    margin-right: 70px;
  }
}

.latest-products {
  .latest-products__cards {
    @include flex-center;
    flex-direction: column;
    gap: 18px;
  }
}

.latest-products__card {
  @include flex-center;
  gap: 15.5px;

  .latest-products__text {
    @include flex-center;
    align-items: start;
    flex-direction: column;
    gap: 4px;

    span {
      color: #000;
      @include standartText;
    }

    span:first-child {
      margin-bottom: 4px;
    }
  }
}

.product-tags {
  h3 {
    color: #000;
    margin-bottom: 24px;
  }

  ul {
    @include flex-center;
    gap: 20px;
    flex-wrap: wrap;

    li {
      color: #4F4F4F;
      text-decoration: underline;
      text-decoration-color: #F2F2F2;
      @include standartText;
    }
  }
}

// ===== MAIN =====
.S_main {
  color: #000 !important;
  background-color: #fff;
  padding: 120px 300px;
}

.sort__form {
  @include flex-center;
  justify-content: start;
  gap: 33px;
}

.sort__form-block {
  @include flex-center;
  gap: 15px;

  span {
    color: #000;
    @include standartText;
  }

  select {
    color: #BDBDBD;
    width: 200px;
    @include standartText;

    optgroup {
      color: #BDBDBD;
    }

    option {
      color: #000;
    }
  }
}

.select__container {
  width: 236px;
  height: 46px;
  border: 1px solid #BDBDBD;
  padding: 10px 153px 10px 18px;
}

.pag_panel {
  @include flex-center;
  gap: 15px;

  button {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: $yellow_color;
    border: 2px solid #F2F2F2;
  }
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(312px, 312px));
  gap: 30px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 312px;
  box-shadow: 0 2px 5px rgba(46, 46, 46, 0.086);

  position: relative;
}

.product-image {
  width: 100%;
  height: 267px;
  object-fit: cover;
  border-radius: 4px;
}

.product-name {
  @include boldText;
  font-family: $standart_font;
  color: #000;
}

.price-today {
  @include standartText;
}

.old-price {
  @include standartText;
  color: #7f8c8d;
  text-decoration: line-through;
  margin-left: 8px;
}

.sale-badge {
  position: absolute;
  top: 27px;
  left: 30px;
  background-color: $yellow_color;
  color: white;
  @include standartText;
  padding: 1px 14px;
  border-radius: 4px;
}

.discount-amount {
  color: #27ae60;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

// ===== FOOTER =====
.shop-footer__bottom {
  background-color: #4F4F4F;
}


// ===== ADAPTATION SHOP =====


@media (max-width: 1920px) {
  .S_header__block {
    h2 {
      font-size: 37.5px;
    }
  }

  .S_aside{
    margin-top: 100px;
    margin-right: 200px;
  }
}


@media (max-width: 1524px) {
  .S_header__block {
    h2 {
      font-size: 33px;
    }
  }

  .S_aside{
    margin-top: 50px;
    margin-right: 50px;
  }

  .S_main{
    padding: 60px 150px;
  }

  .S_nav__container{
    padding: 10px 70px;

    ul{
      gap: 16px;
      flex-wrap: wrap;
    }
  }

  .S{
    font-size: 12px !important;
  }

  .S_nav__logo{
    font-size: 16px !important;
  }

  .icon__container{
    img{
      width: 12px;
      height: 12px;
    }
  }

  .sort__form-block{
    flex-direction: column;
  }
}

@media (max-width: 1350px) {
  .S_main {
    padding: 120px 100px;
  }

  .products-container{
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  }

  .S_header__block {
    h2 {
      padding: auto 40%;
      font-size: 24px;
      line-height: 28px;
    }
  }

  .S__header{
    height: 300px;
  }

  .sort__form{
    flex-direction: column;
  }

  .products-container {
    gap: 20px;
    padding: 5px;
  }

  .product-card {
    width: 230px;
  }

  .product-image {
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 967px){
  .S_header__block {
    padding: 50px 30%;
  }

  .S_aside{
    margin-right: 0;
    width: 200px;
    padding: 0;
  }

  .S_aside__form{
    input{
      width: 150px;

      &::placeholder {
        padding: 5px 10px 30px;
      }
    }
  }

  .filter-category {
  span {
    margin-left: 4px;
    font-size: 14px;
  }
}

  .S_img_aside{
    width: 170px;
    height: 200px;
  }

  .S_main {
    padding: 50px 20px;
  }

  .select__container{
    width: 100px;
    padding: 10px 100px 10px 18px;

    select{
      width: 85px;
    }
  }  

  .product-card {
    width: 150px;
  }

  .product-image {
    width: 100%;
    height: 100px;
  }

  .sale-badge {
    display: none;
  }
}

@media(max-width: 480px){
  .latest-products__card{
    flex-direction: column;
  }

  .products-container{
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  }

  .S_aside{
    width: 120px;
  }

  .S_h3{
    font-size: 16px;
  }

  .S_nav__container{
    padding: auto 20px !important;
    ul{
      gap: 10px !important;
      margin-left: -75px;
    }
  }

  .S{
    font-size: 10px !important;
  }

  .filter-price{
    span{
      font-size: 12px;
      margin-right: 10px;
    }
  }

  .product-tags{
    ul{
      gap: 12px;
    }

    li{
      font-size: 13px !important;      
    }

  }

  .S_aside__form{
    input{
      padding-left: 0;
      width: 85px;
      height: 30px;

      &::placeholder{
        font-size: 9px;
      }
    }

    button{
      width: 30px;
      height: 30px;
    }
  }

  .S_img_aside{
    width: 110px;
    height: 130px;
  }

  .product-image {
    width: 100%;
    height: 100px;
  }
}

@media(max-width: 320px){

}

.S_main {
    height: auto !important;
    min-height: 1923px;
}



// ===== ADAPTATION MAIN =====

@media (max-width: 1820px) {


  .header__content {
    gap: 50px;
  }

  .header__title {
    font-size: 48px;
    line-height: 50px;
  }

  .header__description {
    width: 350px;
  }

  .header__text {
    padding-left: 25px;
    margin: 50px 0 0 25px;
  }

  .header__info {
    width: 400px;
  }


  .header__text-content {
    font-size: 12px;
    line-height: 20px;
  }

  .header__decor--shape {
    width: 700px;
    height: 525px;
    z-index: 1;
    max-width: 100%;
  }

  .footer__container {
    gap: 100px;
    padding-bottom: 40px;
  }

  .footer__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}


@media (max-width: 1524px) {
  section {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .food-category {
    padding: 50px 50px;
  }

  .food-category__gallery {
    gap: 25px;

    .food-category__image {
      width: 275px;
      height: 250px;
    }
  }

  .why-us__container {
    padding: 50px 50px;
    gap: 80px;
  }

  .why-us__info {
    gap: 24px;
    width: 450px;
  }

  .sq {
    width: 80px;
    height: 80px;
  }

  .why-us__image {
    width: 500px;
  }

  .stats__list {
    gap: 40px;

    .stats__item {
      width: 200px;

      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 24px;

      img {
        width: 80px;
        height: 80px;
      }

      .stats__title {
        font-size: 18px;
        line-height: 24px;
      }

      .stats__number {
        font-size: 32px;
        line-height: 38px;
      }
    }
  }

  .choose-pick__nav ul {
    gap: 70px;
  }

  .choose-pick__li {
    font-size: 16px;
    line-height: 24px;
  }

  .choose-pick__container--lower {
    margin-top: 50px;
  }

  .choose-pick__img-container {
    height: 356px;
    width: 436px;

    img {
      width: 436px;
      height: 100%;
    }
  }

  .choose-pick__list>.ul {
    gap: 20px;
  }


  .choose-pick__block-list {
    gap: 5px;

    img {
      width: 60px;
      height: 60px;
    }

    span:first-child {
      font-size: 16px;
      line-height: 22px;
    }

    span:last-child {
      font-size: 12px;
      line-height: 22px;
    }

    p {
      font-size: 13px;
      line-height: 22px;
    }
  }

  .chef-container__img-block {
    gap: 18px;
  }

  .chef__img-card {
    width: 250px;
    height: 300px;
  }

  .chef-card__block-text {
    width: 160px;
    height: 67px;
    letter-spacing: 2px;
    padding: 4px 0 7px 18px;

    span {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .section__subtitle {
    font-size: 24px;
    line-height: 30px;
  }

  .section__title {
    font-size: 40px;
    line-height: 46px;
  }

  .section__text {
    font-size: 14px;
    line-height: 20px;
  }


  .button {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }

  .header__text-content {
    font-size: 12px;
    line-height: 20px;
  }

  .header__decor--shape {
    width: 500px;
    height: 400px;
    z-index: 1;
    max-width: 100%;
  }

  .footer__container {
    gap: 100px;
    padding-bottom: 40px;
  }

  .footer__subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .footer__bottom {
    gap: 200px;
  }

  .footer-card {
    width: 300px;

    &:first-child {
      margin-right: 100px;
    }

    h4 {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 24px;
    }

    p {
      margin-bottom: 26px;
    }

    ul {
      gap: 20px;

      li {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }


  .why-us__number {
    font-size: 40px;
    margin-right: 25px;
  }

  .why-us__label:last-child {
    font-size: 20px;
    margin-top: -10px;
  }
}

@media (max-width: 1350px) {

  section {
    border-bottom: 2px solid $yellow_color;
    padding: 10px;

    &:first-child {
      border-top: 2px solid $yellow_color;
    }
  }

  .footer__support {
    width: 100%;
  }

  .footer__support {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__container {
    gap: 35px;
    width: 100%;
  }

  .footer__form {
    align-items: center;
  }

  .footer__input {
    width: 150px !important;
    height: 50px !important;

    &::placeholder {
      font-size: 12px !important;
      padding-left: 5px !important;
    }
  }

  .footer-help__button {
    width: 100% !important;
    max-width: 100px;
    height: 50px !important;
    font-size: 10px !important;
  }

  .footer__title {
    font-size: 24px;
    line-height: 28px;
  }

  .footer__subtitle {
    font-size: 14px;
  }

  .about__gallery {
    display: none;
  }

  .footer__main {
    margin-bottom: 0;
  }

  .footer-card {
    width: 200px;

    &:first-child {
      margin-right: 50px;
    }

    h4 {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 20px;
    }

    p {
      margin-bottom: 26px;
    }

    ul {
      gap: 16px;

      li {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .footer__sq {
    width: 50px;
    height: 50px;
  }

  .p--standart {
    font-size: 12px;
    line-height: 20px;
  }


  .footer-card__text--bottom {
    gap: 0;

    h6 {
      font-size: 14px;
      line-height: 20px;
    }

    span {
      font-size: 10px;
      line-height: 18px;
    }
  }

  .header-img {
    display: none;
  }

  .nav {
    padding: 50px 5%;
    justify-content: space-between;
    gap: 0px;

    ul {
      gap: 15px;
      flex-wrap: wrap;
    }
  }

  .nav__logo {
    top: 12.5px;
    left: 100px;
    font-size: 20px;
  }

  .nav__form img{
    top: 7px;
    width: 20px;
  }

  .nav__search-container {
    position: absolute;
    right: 30px;
    top: 7.5px;
  }

  .nav__search {
    width: 200px;
    height: 34px;
    padding: 10px 16px 12px 16px;
    font-size: 27px;

    &::placeholder {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .header__content {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .header__text {
    padding-left: 0;
    margin: 30px 0 0 0;
    flex-direction: column;
    gap: 20px;
  }

  .header__lines {
    flex-direction: row;
    width: auto;
    gap: 20px;

    .header__line {
      height: 1px;
      width: 100px;
    }
  }

  .social {
    flex-direction: row;
    width: auto;
    gap: 20px;
  }

  .header__decor--shape {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .header__content {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .header__text {
    justify-content: center;
    padding-left: 0;
    margin: 50px 0 0 0;
    flex-direction: column;
  }

  .header__info {
    width: 100%;
    max-width: 600px;
    align-items: center;
  }

  .header__description {
    width: 100%;
    max-width: 400px;
    margin: 30px auto 15px auto;
  }

  .button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .about {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 967px) {

  .img__footer {
    display: none;
  }

  .button-up {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .choose-pick__img-container {
    display: none;
  }

  .choose-pick__container--lower {
    width: 90%;
  }

  .p--standart {
    font-size: 12px !important;
  }

  .food-category__title {
    margin-bottom: 1px !important;
  }

  .about {
    margin-top: 5px;
  }

  .about__container {
    width: 480px;
    height: 100%;
  }

  .section__title {
    font-size: 40px;
    margin: 0;
  }

  .section__subtitle {
    font-size: 18px;
    margin-bottom: 0;
  }

  .section__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about__item {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .about__gap-text {
    width: 440px;
    gap: 12px;
  }

  .why-us__info {
    gap: 8px;
  }

  .sq {
    width: 60px;
    height: 60px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .why-us__experience {
    width: 250px;
    height: 50px;
  }

  .why-us__stats {
    width: 240px;
    height: 50px;
    padding-top: 15px;
  }

  .why-us__number {
    font-size: 30px !important;
  }

  .why-us__label {
    font-size: 16px !important;
  }

  .why-us__label:last-child {
    font-size: 18px !important;
  }

  .choose-pick__nav ul {
    gap: 20px;
  }

  .recom__block {

    img:first-child {
      width: 100px;
    }

    img:last-child {
      width: 80px;
    }
  }

  .recom__container-block-info {
    text-align: center;
    margin-bottom: 100px;
  }

  .recom__block-text {
    width: 99%;
  }

  .swipe-block {
    margin-top: 0;
  }

  .progress__title {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .progress__section-text {
    font-size: 20px;
    line-height: 32px;
  }

  .progress__block-text {
    width: 90%
  }

  .btn {
    width: 150px !important;
    height: 45px !important;
    background-color: #ea8c00;
    border: 3px solid $yellow_color;
  }

  .footer-text {
    padding: 0;
  }

  .footer__info-cards {
    gap: 0;
  }

  .footer-card {
    margin-bottom: 40px;
  }

  .footer-card h4 {
    color: $yellow_color;
  }

  .footer__copyright {
    font-size: 12px;
  }

  .footer__bottom {
    gap: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__bottom ul {
    gap: 10px;
  }

  .footer-social__container-item {
    width: 25px;
    height: 25px;
  }

  .button-up {
    bottom: 20px;
    right: 25px;
  }
}

@media (max-width: 480px) {
  .nav__search {
    width: 150px;
  }

  .nav__form img{
    display: none;
  }

  .header__title {
    font-size: 36px;
    line-height: 42px;
  }

  .header__subtitle {
    font-size: 24px;
  }

  .about__text {
    width: 95%;
  }

  .section__title {
    font-size: 16px;
  }

  .progress__block{
    width: 100%;
  }

  .section__text {
    font-size: 14px;
  }

  .about__list {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 250px;
  }

  .about__item {
    line-height: 18px;
    font-size: 14px;
  }

  .why-us__container {
    padding: 0;
    padding-left: 5%;
  }

  .choose-pick__nav ul {
    margin-top: 50px;
  }

  .choose-pick__list .ul {
    gap: 7.5px
  }

  .choose-pick__block-list {
    width: 150px;
    margin-left: -10px;

    img {
      width: 40px;
      height: 40px;
    }

    span {
      font-size: 12px !important;
    }

    p {
      line-height: 18px;
      font-size: 10px !important;
    }
  }

  .recom__block img {
    width: 100px;
  }

  .recom-name {
    font-size: 16px !important;
  }


  .progress__buttons-container {
    @include flex-center;
    flex-direction: column;
    gap: 10px;
    margin-right: -50%;
  }

  .btn-container {
    height: 50px;
  }

  .blog__card {
    width: 300px;
    height: 500px;

    .blog__card-info {
      height: 150px;
      padding: 7.5px;
    }

    span {
      font-size: 16px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }

    a {
      font-size: 12px;
      line-height: 0;
    }

    .blog__card--lower {
      align-items: center;
      gap: 100px;
    }
  }

  .footer__container {
    flex-direction: column;
  }

  .footer-card:first-child {
    margin: 0;
  }

  .footer-card {
    @include flex-center;
    width: 150px;
  }

  .footer__info-cards {
    gap: 30px;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 10px;

    .footer__copyright {
      font-size: 10px;
    }
  }
}


// ANIMATIONS

@media (min-width: 1440px) {
  .btn {
    &:hover {
      background-color: #121212aa;
      box-shadow: 0 0 10px $yellow_color;

      a {
        font-size: 19px;
      }
    }

    &:active {
      background-color: #000000;
    }
  }

  .button {
    &:hover {
      background-color: #fda31b;
      transform: translateY(-2.5px);
      box-shadow: 0 0 10px rgb(245, 245, 245);
      font-size: 23px;
    }

    &:active {
      transition: all 0.1s ease;
      background-color: rgb(155, 106, 0);
      color: rgb(194, 200, 206);
      box-shadow: none;
    }
  }

  .button-up {
    &:hover {
      height: 120px;
    }

    &:hover::before {
      content: 'Up';
    }
  }

  .nav__link {
    &:hover {
      color: $yellow_color;
      text-shadow: 0 0 5px $yellow_color;
    }

    &:active {
      color: rgb(164, 79, 0);
    }
  }

  .nav__search {
    &:hover {
      box-shadow: 0 0 3px rgb(255, 166, 0),
        0 0 3px rgb(255, 166, 0),
        0 0 3px rgb(255, 166, 0);

      &::placeholder {
        font-size: 20px;
      }
    }
  }

  .footer__form {
    &:hover {
      .footer__input {
        font-size: 22px;
        background-color: $yellow_color;

        &:hover {
          background-color: $yellow_color;
          box-shadow: 0 0 3px rgb(255, 166, 0),
            0 0 3px rgb(255, 166, 0),
            0 0 3px rgb(255, 166, 0);
        }
      }

      .button--secondary {
        background-color: rgb(230, 230, 230);
        font-size: 22px;

        &:hover {
          background-color: rgb(255, 255, 255);
          box-shadow: 0 0 3px wheat,
            0 0 3px wheat,
            0 0 3px wheat;
        }
      }
    }
  }

  .footer-card {
    a:hover {
      color: $yellow_color;
    }
  }

  .footer-social__container-item {
    &:hover {
      background-color: #fff;
    }
  }

  .S_aside__form {
    input {
      &:hover {
        background-color: #ff990048;
        box-shadow: 0 0 3px rgb(255, 166, 0),
          0 0 3px rgb(255, 166, 0),
          0 0 3px rgb(255, 166, 0);

        &::placeholder {
          color: #000;
        }
      }
    }

    button {
      &:hover {
        box-shadow: 0 0 3px rgb(255, 166, 0),
          0 0 3px rgb(255, 166, 0),
          0 0 3px rgb(255, 166, 0);
      }
    }
  }

  .pag_panel button {
    &:hover {
      background-color: #f9f7f7;
    }
  }
}


.footer__input {
  &:invalid {
    border-color: #ff4444;
    background-color: #e18c0e;
  }
  
  &:valid {
    border-color: #00C851;
  }
  
  &:focus:invalid {
    box-shadow: 0 0 5px rgba(255, 68, 68, 0.5);
  }
}

.aside__input{
  &:invalid {
    border-color: #ff4444;
    background-color: #f5f2ee;
  }
  
  &:valid {
    border-color: #00C851;
  }
  
  &:focus:invalid {
    box-shadow: 0 0 5px rgba(240, 153, 153, 0.5);
  }
}

.last-section {
  margin-bottom: 0 !important;
}

// ===== BURGER MENU =====

.burger {
  display: none;
  background-color: #000;
  font-size: 24px;
  cursor: pointer;
}

@media(max-width: 480px) {

  .header__container {
    @include flex-center;
    justify-content: space-between;
    padding: 20px;
    height: 75px;
    background: #000000;
    position: relative;
  }

  .nav__logo {
    display: none
  }

  .burger {
    @include flex-center;
  }

  .nav__search-container {
    position: static;

    .nav__search {
      width: 100px !important;
    }
  }

  .list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 35%;
    height: 100vh;
    background: #000000;
    transition: right 0.3s;
    z-index: 1000;
    flex-direction: column;
    align-items: start;
    padding: 10px 20px 20px;
  }

  .nav ul {
    align-items: start;
  }

  .list.active {
    right: 0;
  }

  .list .nav__item {
    padding: 10px;
  }
}