@import 'vars';
@import 'comp';
@import 'mixins';

//BLOCK
body{
  background-color: black;
  color: whitesmoke;
}

header {
  background-image:url(../../assets/img/background_header.jpg);
  background-repeat: none;
}

//TEXTS

.start_text {
  text-align: center;
  font-size: 50px;
}

a {
  color: rgb(207, 207, 207);
  text-decoration: none;

  &:hover{
    color: rgb(254, 123, 0);
  }

  &:active {
    color: rgb(164, 79, 0);
  }
}

.yellow_sim {
  color: $yellow_color;
}

.navT {
  display: inline;
  margin-left: 100px;
  font-size: 30px;
}

//OTHER

.inputT {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 20px;
  border-radius: 10px;
  border: solid 2px $yellow_color;
}